### K-Nearest Neighbour

We are going to use KNN for prediction of gender in a Black Friday sale dataset.

In [88]:
import pandas as pd
import numpy as np
from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import train_test_split

#### Importing the Data

In [83]:
df = pd.read_csv('BlackFriday.csv')

In [85]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 537577 entries, 0 to 537576
Data columns (total 12 columns):
User_ID                       537577 non-null int64
Product_ID                    537577 non-null object
Gender                        537577 non-null object
Age                           537577 non-null object
Occupation                    537577 non-null int64
City_Category                 537577 non-null object
Stay_In_Current_City_Years    537577 non-null object
Marital_Status                537577 non-null int64
Product_Category_1            537577 non-null int64
Product_Category_2            370591 non-null float64
Product_Category_3            164278 non-null float64
Purchase                      537577 non-null int64
dtypes: float64(2), int64(5), object(5)
memory usage: 49.2+ MB

In [84]:
df.sample(5)

,User_ID,Product_ID,Gender,Age,Occupation,City_Category,Stay_In_Current_City_Years,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3,Purchase
332927,1003320,P00207942,M,26-35,1,B,1,1,6,8.0,NaN,16156
447860,1003005,P00008542,M,26-35,17,A,1,0,2,8.0,NaN,13002
244855,1001712,P00330242,M,26-35,0,B,4+,0,5,NaN,NaN,6974
213777,1003029,P00318742,M,18-25,4,A,4+,0,1,8.0,NaN,19214
203603,1001421,P00206442,F,0-17,10,A,1,0,1,5.0,9.0,11764

We will make our prediction based on the occupation, purchase and marital_status. So, we will drop rest of the columns.

In [86]:
df.drop(['User_ID', 'Product_ID', 'Age', 'City_Category', 'Stay_In_Current_City_Years', 'Product_Category_1', 'Product_Category_2', 'Product_Category_3'], axis = 1, inplace = True)

In [87]:
df.head()

  Gender  Occupation  Marital_Status  Purchase
0      F          10               0      8370
1      F          10               0     15200
2      F          10               0      1422
3      F          10               0      1057
4      M          16               0      7969

#### Generating the model

First, we will split our data into training and testing.

Dropping the gender column for predictor and seperating it for target.

In [100]:
predictor, target = df.loc[:, df.columns != 'Gender'], df.loc[:,'Gender']

In [101]:
x_train, x_test, y_train, y_test = train_test_split(predictor, target, test_size = 0.4)

Initializing our KNN with 5 neighbours

In [103]:
knn = KNeighborsClassifier(n_neighbors = 5)

Training our model

In [104]:
knn.fit(x_train, y_train)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
           metric_params=None, n_jobs=None, n_neighbors=5, p=2,
           weights='uniform')

Performing prediction on the model

In [109]:
knn.predict(x_test)

array(['F', 'M', 'F', ..., 'M', 'M', 'M'], dtype=object)

Checking the score of our model.

In [106]:
print('accuracy: ', knn.score(x_test,y_test))

accuracy:  0.7167478177565095